
body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  padding-left: 5rem;
  padding-right: 5rem;
  font-weight: normal;
 }

 /* b {}
   font-weight: bolder;
 } */

 .homepageBody {
  padding-left: 3rem;
  padding-right: 3rem;

 }

 .react-pdf__Page__canvas {
   border-style: solid;
   border-width: 1px;

 }
 
 a.nav-link, .homepageCard {
  font-family: 'Quicksand', sans-serif;
 }

 h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
 }

.linkedIn {
  color: black;
  width: 2.5vw;
  margin-right: 1vw;
}

.btn {
  margin-left: .8vw;
}
.list {
  /* inline-size: ; */
}

.tutela{
  background-color: #80CCD7;
  border-radius: 5px;
  width: 100%;
}

a.nav-link {
    color: black;
}

.navbar {
    height: 10vw;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw;
}

a.nav-link:first-of-type {
  font-weight: bold;
}

.detail {
  line-height: 1rem;
}




/* .gridBox {
  background-color: gray;
  border-radius: 20px;
  padding: 1vw;
  margin: 1vw;
  border-bottom: 3px solid gray;
} */

.homepageContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.homepageDesignWork {
  margin-left: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.homepagetextRow h2{
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
  /* width: 50%; */
  margin-left: auto;
  margin-right: auto;
}

.homepageCard {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 3rem; */
  /* width: 75%; */
  margin-left: 2vw;
  margin-right: 1vw;
  box-shadow: 2px 2px 5px;
  margin-bottom: 3vw;
}

.cardImages {
  display: flex;
}


.homepageCard:hover {
  transform: scale(1.1);
}

.rowDescription {
  margin-left: 4vw;
  background-color: white;
  border-radius: 5px;
}

.rowDescriptionLong {
  margin-left: 1vw;
  margin-right: 3vw;
  background-color: white;
  /* margin-bottom: 2vw; */
}

.homepageIcons {
  margin-left: 4vw;
  margin-right: 3vw;
}
.homepagerowDescriptionLong {
  position: relative;
  margin-left: 4vw;
  margin-right: 8vw;
  padding: .5vw;
  padding-left: 1vw;
  background: rgba(233, 233, 233, 0.747);
  border-radius: .5vw;
}

.personalPhoto {
  height: 20vw;
  margin-left: -12vw;
  border-radius: .5vw;
}

.gridpersonaOne {
  height: 30vw;
}

.illustration {
  height: 10vw;
}

.homepageDataWork {
  margin-left: 2.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

img.researchPicture {
  display: flex;
  flex-direction: row;
  /* margin-left: 4vw; */
  /* margin-right: 25vw; */
  height: 35vw; 
  margin: .5vw;
}

.discoveryHubMockUps {
  height: 32vw;
  margin-top: 2vw;
  margin-bottom:2vw;
  border-style: solid;
  border-width: 1px;
}

.initialdiscoveryHubMockUps {
  height: 30vw;
  margin-right: 5vw;
  border-style: solid;
  border-width: 1px;
}

img.featuredImage {
  height: 30vw; 
}

.novemberfeaturedImage {
  height: 32vw; 
  margin-top: 1.2vw; 
}

.decemberfeaturedImage {
  height: 33vw; 
  /* margin-top: 10vw; */
}

img.lastCenterImage {
  height: 30vw; 
  margin-left: 45vw;
  margin-right: auto;
}

img.biggerfeaturedImage {
  height: 35vw; 
}

.evenbiggerfeaturedImage {
  height: 40vw; 
}

img.gridFeaturedImage {
  height: 53vw;
}

img.gridFeaturedImageTwo {
  height: 47vw;
}

.featureDescription {
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  /* margin: 5rem; */
}

.sidebyside {
  display: flex;
  margin-left: 4vw;
}

.rightfeatureDescription {
  margin-top: 5.5rem;
  margin-right: 3rem;
  margin-left: 3rem;
}
.centerTitle {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.cardLink {
  text-decoration: none;
  color: black;
}

.paragraphText {
  margin-left: 6vw;
  width: 55%;
}

.initialImages {
  /* display: flex; */
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.initialImageOne, .initialImageTwo, .initialImageThree {
  width: 65vw;
  margin-left: .25vw;
  /* margin-right: -15%; */
  align-content: center;
  align-items: center;
}

img.longImage {
  width: 45vw;
}

.projectPersona {
  display: flex;
  /* width: 80vw; */
  margin-left: auto;
  margin-right: auto;

}

.projectDetails {
 
  line-height: .5vw;
}

.personaOne {
  width: 40vw;
}

.miroBoard {
  width: 47vw;
}

.projectRowOne {
  display: flex;
  background-color: gray;
  padding: 2vw;
  margin: 2vw;
}

.GridProjectRowOne {
  display: flex;
  background: linear-gradient(90deg, hsla(229, 80%, 77%, 0.5) 100%, hsla(241, 53%, 65%, 1) 100%);
  padding: 2vw;
  margin: 1vw;
  border-radius: 20px;
}

.projectOverview {
  width: 50%;
  margin-right: 2rem;
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
}

.footer {
  border-top: 2pt solid black;
  text-align: center;
  /* width: 55%;
  margin-left: auto;
  margin-right: auto; */

}

